 {% extends 'main.html' %}
 {% load static %}

{% block content %}
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Your Recent Comments</h1>
             
          </div>
{% for topic in all_topic %}
 <div class="col-lg-6 mb-4">

     <div class="comment-box">
          
          <span class="commenter-pic">
            <img src="{{  profile.image_url|default_if_none:'#' }}" class="img-fluid">
          </span>
          <span class="commenter-name">
            <a href="#">{{topic.user}}</a> <span class="comment-time">{{topic.created_at}}</span>
          </span>   
           <a href="{% url 'TopicComment:topic_details' topic.id %}"><strong>{{topic.topc_title}}</strong></a>    
          <p class="comment-txt more">{{comments.comments| safe }} .</p>
          <div class="comment-meta">
            <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{{ topic.image.url }}" alt="">
                  </div>
                 <p>{{topic.content| safe}}</p>>
            <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
            <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
              
          </div>

        </div>

         


                   <form class="form1" action="{% url 'TopicComment:like_topic'  %}" method="POST">
  {% csrf_token %}
   <input type="hidden" name="topic_id" value="{{topic.id}}">
  {% if user not in topic.like.all %}
  
<button type="submit"><a href=""  > <i class="fa fa-thumbs-up" aria-hidden="true"></i></a></button>
{% else %}
<a href=""><button type="submit"> <i class="fa fa-thumbs-down" aria-hidden="true"></i></button></a>

  {% endif %}

 </form>
 <strong>{{topic.like.all.count}} Likes</strong>


              
             
                </div>
              </div>
             
            </div>
{% endfor %}

{% endblock %}